build/
dist/
dist-dev/
lib/
lib-types/
output/
target/
tsc-out/
.netlify/
bazel-*/
bazel-bin/
bazel-out/
bazel-qwik/
bazel-testlogs/
tsconfig.tsbuildinfo
tsdoc-metadata.json
node_modules/
.yarn/
.cache/
.rollup.cache/
external/
package-lock.json
pnpm-lock.yaml
yarn.lock
**/*.log
temp/
.history/
.DS_Store
workers/pomelnic/wrangler.jsonc
